@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");


.slider {
  width: 100%;
}

.slider__img_overlay {
  background: url(/img/slider_3.png);
  background-size: cover;
  height: 300px;
}

.slider__text {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider__text h1 {
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
}

.slider__text h2 {

  color: aliceblue;
  font-family: "Open Sans", sans-serif;
}

.slider__text h3 {
  color: rgb(243, 110, 1);
  font-family: "Open Sans", sans-serif;
}


.about {
  display: flex;
}

.about__text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.our_production h3 {
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products__card {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 1px solid;
  align-items: center;
}

.products__image {
  width: 100%;
}

.product__title {
  text-align: center;
}

.product_text {
  text-align: center;
}

.footer__wrapper {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__ip {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: whitesmoke;
}

.footer__tel a {
  text-transform: lowercase;
  color: whitesmoke;
  text-decoration: none;
}

.footer__email a {
  text-transform: lowercase;
  color: whitesmoke;
  text-decoration: none;
}

.footer__inn {
  color: whitesmoke;
}

.footer__ogrn {
  color: whitesmoke;
}