@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html, body, p {
  margin: 0;
  padding: 0;
}

.slider {
  width: 100%;
}

.slider__img_overlay {
  background: url(/img/slider_2.jpg);
  background-size: cover;
  height: 600px;
  width: 100%;
}

.slider__text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider__text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider__text h1 {
  font-size: xx-large;
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
}

.slider__text h2 {

  color: aliceblue;
  font-family: "Open Sans", sans-serif;
}

.slider__text h3 {
  color: rgb(243, 110, 1);
  font-family: "Open Sans", sans-serif;
}


.about {
  display: flex;
  margin: 0 15%;
}

.about__text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.our_production h3 {
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products__card {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width: 550px;
  border: 1px solid;
  align-items: center;
}


.products__image {
  width: 100%;
}

.product__title {
  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

}

.product_text {
  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

}

.footer__wrapper {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;

  /* background-color: black; */
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

.footer__line {
  margin-top: 15%;
  width: 200px;
  border-top: 2px solid silver;
}

.footer__contact-text {
  margin-top: 15%;
  font-size: xx-large;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.footer__adress {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 10px;
  padding-top: 15px;
}

.footer__tel {
  padding-top: 15px;
}

.footer__tel a {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  text-decoration: none;
}

.footer__email {
  padding-top: 15px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer__email a {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ee7505;
  text-decoration: none;
}

.footer__ip {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 10px;
  padding-top: 30px;
}

.footer__inn {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 15px;
}

.footer__ogrn {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 15px;
}